### Recovering data from SQL SB

In [257]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
from math import cos, radians

pd.options.display.max_columns = 999
%matplotlib inline

In [300]:
conn = psycopg2.connect("dbname = soaring_predictor")

### Loading flying metrics

In [301]:
F = pd.read_sql('SELECT * from flight_metrics;', conn)

In [183]:
# Isolating the best flight of the date (by max flying time)

Y = pd.DataFrame(F.groupby('date')['flying_time','max_alt','left_perimeter'].min())

### Loading weather data

In [264]:
W = pd.read_sql('SELECT * from weather;', conn)

In [265]:
W.head()

,date,alti_0,alti_4,alti_8,alti_12,alti_16,alti_20,drct_0,drct_4,drct_8,drct_12,drct_16,drct_20,dwpf_0,dwpf_4,dwpf_8,dwpf_12,dwpf_16,dwpf_20,p01i_0,p01i_4,p01i_8,p01i_12,p01i_16,p01i_20,relh_0,relh_4,relh_8,relh_12,relh_16,relh_20,sknt_0,sknt_4,sknt_8,sknt_12,sknt_16,sknt_20,skyc1_0,skyc1_4,skyc1_8,skyc1_12,skyc1_16,skyc1_20,tmpf_0,tmpf_4,tmpf_8,tmpf_12,tmpf_16,tmpf_20,doy
0,2005-01-02,29.8825,29.9750,30.0400,30.0925,30.1525,30.1400,342.5,345.0,225.0,347.5,182.5,185.0,33.035,30.245,27.995,27.005,25.475,29.030,0.01,0.01,0.01,0.01,0.01000,0.0100,72.3325,68.0775,65.6925,70.2925,61.0250,60.370,9.50,6.50,6.25,8.75,9.25,9.25,0.9375,1.0,0.4375,0.0625,0.0000,0.000,41.270,39.920,38.48,35.735,37.715,41.765,2
1,2005-01-03,30.1825,30.2225,30.2225,30.2150,30.2100,30.1625,360.0,180.0,350.0,2.5,182.5,350.0,27.500,26.240,26.510,24.800,26.510,27.050,0.01,0.01,0.01,0.01,0.01000,0.0100,66.9375,70.0600,79.1325,87.6325,74.9175,59.095,8.75,6.50,6.50,1.00,5.75,10.75,0.0000,0.0,0.0000,0.0000,0.0000,0.000,37.490,35.015,32.27,27.995,33.755,40.235,3
2,2005-01-04,30.1675,30.1750,30.1675,30.1675,30.1825,30.1350,105.0,350.0,267.5,102.5,227.5,275.0,23.810,23.540,25.025,22.460,22.190,21.245,0.01,0.01,0.01,0.01,0.01000,0.0100,62.1100,67.6400,73.5700,66.0400,57.5325,46.755,5.75,8.75,8.75,8.00,8.25,10.25,0.0000,0.0,0.0000,0.0000,0.0000,0.000,35.510,33.080,32.54,32.540,35.735,40.010,4
3,2005-01-05,30.1450,30.1775,30.1875,30.2125,30.2825,30.2500,97.5,267.5,5.0,67.5,165.0,142.5,21.470,21.695,22.010,18.230,22.505,23.765,0.01,0.01,0.01,0.01,0.01000,0.0100,54.1350,63.4850,78.7200,77.3975,73.3375,54.695,4.50,6.00,0.75,1.75,4.50,3.25,0.0000,0.0,0.0000,0.0000,0.0000,0.000,36.500,32.765,27.77,24.305,30.245,38.705,5
4,2005-01-06,30.2275,30.2050,30.1425,30.0200,29.9000,29.7575,80.0,152.5,155.0,167.5,125.0,152.5,23.810,23.540,22.730,22.235,31.730,36.005,0.01,0.01,0.01,0.01,0.01125,0.0175,71.6350,81.4550,82.0125,74.0875,89.5300,87.290,2.00,3.75,4.75,5.00,4.25,5.75,0.0000,0.0,0.1875,0.6875,0.8125,0.375,31.955,28.490,27.50,29.480,34.520,39.470,6

In [104]:
def get_cos(direction):
    return abs(cos(radians(direction)))

In [148]:
direction = ['drct_0', 'drct_4', 'drct_8', 'drct_12', 'drct_16', 'drct_20']

for col in direction:
    W[col]=W[col].apply(get_cos)

In [120]:
W.head()

,date,alti_0,alti_4,alti_8,alti_12,alti_16,alti_20,drct_0,drct_4,drct_8,drct_12,drct_16,drct_20,dwpf_0,dwpf_4,dwpf_8,dwpf_12,dwpf_16,dwpf_20,p01i_0,p01i_4,p01i_8,p01i_12,p01i_16,p01i_20,relh_0,relh_4,relh_8,relh_12,relh_16,relh_20,sknt_0,sknt_4,sknt_8,sknt_12,sknt_16,sknt_20,skyc1_0,skyc1_4,skyc1_8,skyc1_12,skyc1_16,skyc1_20,tmpf_0,tmpf_4,tmpf_8,tmpf_12,tmpf_16,tmpf_20,doy
0,2013-01-02,30.334000,30.2975,30.307500,30.255,30.2400,30.205000,1.000000,1.000000,0.300706,0.866025,4.361939e-02,0.573576,27.896,27.005,27.950000,22.505,20.210,20.255,0.00,0.000,0.0,0.0,0.0000,0.000000,93.774000,93.2300,78.742500,40.0875,45.6400,56.530000,0.000000,0.00,2.000000,5.25,3.25,2.750000,0.150000,0.000,0.000000,0.0000,0.0000,0.000000,29.480,28.715,34.520000,45.500,39.470,34.475,2
1,2013-01-03,30.195000,30.1475,30.140000,30.115,30.1250,30.152500,0.342020,0.819152,0.500000,0.819152,4.361939e-02,0.866025,21.515,24.305,20.525000,19.490,25.205,33.530,0.00,0.000,0.0,0.0,0.0125,0.015000,65.962500,88.6125,47.902500,36.1925,58.6150,86.257500,2.000000,1.00,4.000000,7.00,4.75,1.000000,0.000000,0.000,0.000000,0.0625,0.7500,1.000000,32.225,27.230,38.750000,44.735,39.515,37.265,3
2,2013-01-04,30.208333,30.2580,30.312857,30.270,30.2125,30.180000,0.058145,0.743145,0.342020,0.469472,1.000000e+00,0.216440,35.690,37.634,41.154286,43.736,41.270,38.480,0.01,0.003,0.0,0.0,0.0000,0.000000,93.811667,93.3340,91.638571,83.8080,92.7875,88.002500,2.833333,4.80,3.571429,2.40,0.00,0.750000,0.833333,0.725,0.571429,0.5500,0.1875,0.875000,37.310,39.398,43.442857,48.416,43.250,41.810,4
3,2013-01-05,30.167500,30.1700,30.192500,30.145,30.1250,30.148889,0.043619,0.923880,0.043619,0.866025,7.933533e-01,0.305326,38.480,34.970,33.215000,34.745,32.495,37.860,0.00,0.000,0.0,0.0,0.0000,0.017778,91.625000,76.0925,65.592500,69.7775,66.1850,91.553333,2.750000,3.75,3.500000,5.25,4.00,2.666667,0.875000,0.875,0.937500,0.7500,0.5000,0.666667,40.730,42.260,44.060000,44.015,43.025,40.200,5
4,2013-01-06,30.166000,30.1620,30.178333,30.125,30.0825,30.022500,0.453990,0.559193,0.029085,0.887011,6.123234e-17,0.537300,37.256,37.832,39.380000,40.550,40.235,39.245,0.00,0.000,0.0,0.0,0.0025,0.007500,94.687000,92.6860,90.475000,83.8625,85.7975,91.655000,5.300000,1.40,2.333333,0.75,3.00,3.750000,0.775000,0.750,0.750000,0.8125,0.5000,0.687500,38.660,39.776,42.020000,45.140,44.240,41.495,6

### Merging the 2 sources of data

In [283]:
len(F)

4985

In [276]:
pd.merge?

In [302]:
data = pd.merge(F,W,how='left', on='date', left_index=True)

In [304]:
import io

from sqlalchemy import create_engine

# fail, append or replace

def write_to_table(df, db_engine, table_name, if_exists='fail'):
    string_data_io = io.StringIO()
    df.to_csv(string_data_io, sep='|', index=False)
    pd_sql_engine = pd.io.sql.pandasSQL_builder(db_engine)
    table = pd.io.sql.SQLTable(table_name, pd_sql_engine, frame=df,
                               index=False, if_exists=if_exists)
    table.create()
    string_data_io.seek(0)
    string_data_io.readline()  # remove header
    with db_engine.connect() as connection:
        with connection.connection.cursor() as cursor:
            copy_cmd = "COPY %s FROM STDIN HEADER DELIMITER '|' CSV" % table_name
            cursor.copy_expert(copy_cmd, string_data_io)
        connection.connection.commit()

In [305]:
address = 'postgresql://@localhost:5432/soaring_predictor'
engine = create_engine(address)

In [306]:
write_to_table(data, engine, 'data',if_exists='replace')

In [307]:
data.columns

Index(['flight', 'date', 'pilot', 'launch_time', 'landing_time', 'flying_time',
       'launch_coord', 'landing_coord', 'landed_lz', 'linear_dist', 'max_alt',
       'total_alt_gain', 'left_perimeter', 'month', 'year', 'timestamp',
       'doy_x', 'pilot_rank_0', 'pilot_rank_1', 'pilot_rank_2', 'alti_0',
       'alti_4', 'alti_8', 'alti_12', 'alti_16', 'alti_20', 'drct_0', 'drct_4',
       'drct_8', 'drct_12', 'drct_16', 'drct_20', 'dwpf_0', 'dwpf_4', 'dwpf_8',
       'dwpf_12', 'dwpf_16', 'dwpf_20', 'p01i_0', 'p01i_4', 'p01i_8',
       'p01i_12', 'p01i_16', 'p01i_20', 'relh_0', 'relh_4', 'relh_8',
       'relh_12', 'relh_16', 'relh_20', 'sknt_0', 'sknt_4', 'sknt_8',
       'sknt_12', 'sknt_16', 'sknt_20', 'skyc1_0', 'skyc1_4', 'skyc1_8',
       'skyc1_12', 'skyc1_16', 'skyc1_20', 'tmpf_0', 'tmpf_4', 'tmpf_8',
       'tmpf_12', 'tmpf_16', 'tmpf_20', 'doy_y'],
      dtype='object')

In [308]:
data.to_csv('data.csv')

In [57]:
W['doy']=W['date'].apply(doy)

In [65]:
# fig,ax = plt.subplots(figsize = (18,8))
# ax.scatter(W['doy'], W['flying_time'], alpha = 0.5,)
# ax.plot(W['doy'],W['tmpf_12'])
# ax.set_title('Flight time [in minutes]',fontsize=20)
# ax.set_ylabel('minutes', fontsize=16)
# ax.set_xticks([0,90,180,270]) # choose which x locations to have ticks
# ax.set_xticklabels(['Jan','Apr',"Jul",'Oct'], fontsize=14)

### Random Forest

In [153]:
grid = {'n_estimators':[100], 'max_features': [3,5,7,8,9,10,12], 'max_depth':[3,5,7,9,None],'min_samples_split':[2,3,4,5],'min_samples_leaf':[3,4,5]}

In [158]:
# best parameters:
param = {'max_depth': 5,
         'max_features': 7,
         'min_samples_leaf': 4,
         'min_samples_split': 3,
         'n_estimators': 100}

In [166]:
grid = { 'max_features': [5,7,8,9,10,12], 'max_depth':[3,5,7,9,None],'min_samples_split':[2,3,4],
        'min_samples_leaf':[4],'n_jobs':[-1]}

### Gradient boosting

In [161]:
grid = {'learning_rate':[0.1,0.05,0.01,0.005], 'subsample':[0.25,0.5,0.75,1.0] , 'min_samples_split':[2,3,4], 'min_samples_leaf':[1,2,3], 'max_depth':[1,2,3,4,5], 'max_features':[3,4,5,6,7]}

In [160]:
# best parameters:
GBC_grid = {'learning_rate': 0.05,
 'max_depth': 2,
 'max_features': 6,
 'min_samples_leaf': 3,
 'min_samples_split': 4,
 'subsample': 0.75}